<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recognizate Face</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/css/fileinput.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
        <div class="container-custom">
            <div class="btn-js ">
                <div class="block-img btn btn-primary">
                    <img class="img-icon" src="{{ url_for('static', filename='images/icon_face2.png') }}" alt="">
                    <span class="title-img">Nhận diện gương mặt</span>
                </div>
                <div class="block-img btn btn-warning">
                    <img class="img-icon" src="{{ url_for('static', filename='images/icon_face2.png') }}" alt="">
                    <span class="title-img">Chính xác 100%</span>
                </div>
                <div class="block-img btn btn-success">
                    <img class="img-icon" src="{{ url_for('static', filename='images/icon_face2.png') }}" alt="">
                    <span class="title-img">Face detection</span>
                </div>
                <div class="block-img btn btn-danger">
                    <img class="img-icon" src="{{ url_for('static', filename='images/icon_face2.png') }}" alt="">
                    <span class="title-img">Dễ sử dụng</span>
                </div>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                {% if msg %}
                <div class="result_title"><b>Lỗi:</b></div>
                <span class="result_id">{{ msg }}</span>
                <hr>
                {% endif %}
                <form action="/process" method="POST" enctype="multipart/form-data">
                    <div class="container text-center mb-1">
                        <div class="row">
                            <div class="col-md-12">
                                <h4><a href="https://plugins.krajee.com/file-input" target="_blank"><b
                                            style="text-transform: uppercase">Chọn ảnh nhận
                                            diện</b></a></h4>
                            </div>
                        </div>
                    </div>

                    <section class="bg-diffrent">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-8">
                                    <div class="file-upload-contain">
                                        <input id="multiplefileupload" type="file" name="file" accept=".jpg,.png,.bmp"
                                            multiple />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <div class="action-btn">
                        <button class="btn btn-success btn-recreate" type="submit">Nhận diện</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/js/plugins/sortable.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/themes/fas/theme.min.js"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/fileInput.js') }}"></script>
    <script>
        let ball = document.querySelector(".btn-js");
        var myVar = setInterval(spostaDiv, 200);
        var margin = 0;
        let l = window.screen.width;
        let w = 1300; function spostaDiv() {
            if (margin >= w) {
                margin = 0;
            } else {
                ball.style.marginLeft = margin + "px";
            }
            margin += 5;
        }

    </script>
</body>

</html>