<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recognizate Face</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
        <div class="container-custom">
            <div class="btn-js ">
                <div class="block-img btn btn-primary">
                    <img class="img-icon" src="{{ url_for('static', filename='images/icon_face2.png') }}" alt="">
                    <span class="title-img">Nhận diện gương mặt</span>
                </div>
                <div class="block-img btn btn-warning">
                    <img class="img-icon" src="{{ url_for('static', filename='images/icon_face2.png') }}" alt="">
                    <span class="title-img">Chính xác 100%</span>
                </div>
                <div class="block-img btn btn-success">
                    <img class="img-icon" src="{{ url_for('static', filename='images/icon_face2.png') }}" alt="">
                    <span class="title-img">Face detection</span>
                </div>
                <div class="block-img btn btn-danger">
                    <img class="img-icon" src="{{ url_for('static', filename='images/icon_face2.png') }}" alt="">
                    <span class="title-img">Dễ sử dụng</span>
                </div>
            </div>
            <!-- <a class="navbar-brand" href="#">Hệ thống nhận diện khuôn mặt</a> -->
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
        </div>
    </nav>

    <!-- Page Content -->
    <!-- <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h1 class="fw-light">Fixed Full Page Background Image</h1>
                <p class="lead">In this snippet, the background image is fixed to the body element. Content on the page
                    will
                    scroll, but the image will remain in a fixed position!</p>
                <p class="lead">Scroll down...</p>
                <div style="height: 700px"></div>
                <p class="lead mb-0">You've reached the end!</p>
            </div>
        </div>
    </div> -->
    <script>
        let ball = document.querySelector(".btn-js");

        var myVar = setInterval(spostaDiv, 200);
        var margin = 0;

        let l = window.screen.width;
        let w = 1300;

        function spostaDiv() {
            console.log(margin);
            if (margin >= w) {
                margin = 0;
            } else {
                ball.style.marginLeft = margin + "px";
            }
            margin += 6;
        }
    </script>
</body>

</html>