<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/css/fileinput.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/profile.css') }}">
</head>

<body>
    <div class="container-profile">
        {% if result %}
        <aside class="profile-card">
            <header>

                <!-- here’s the avatar -->
                <a href="https://tutsplus.com">
                    {% if user_image %}
                    <img class="img_result" width="200px" style="object-fit: contain;"
                        src="{{ url_for('static', filename=user_image) }}" alt="User Image">
                    {% endif %}
                </a>
                <h1> {{result[1]}}</h1>
                <h2 style="margin-top:20px"> {{result[2]}}</h2>
            </header>
            <div class="profile-bio">
                <p>{{result[4]}}
                </p>
            </div>
            <ul class="profile-social-links">
                <li>
                    <a href="/">
                        <img src="{{ url_for('static', filename='images/home.png') }}">
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="{{ url_for('static', filename='images/face.png') }}">
                    </a>
                </li>
                <li>
                    <a href="/">
                        <img src="{{ url_for('static', filename='images/glass.png') }}">
                    </a>
                </li>
            </ul>
        </aside>
        {% endif %}

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/js/plugins/sortable.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/themes/fas/theme.min.js"
        crossorigin="anonymous"></script>
</body>

</html>